<nav class="navbar navbar-inverse " >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">HOME</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 DB
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">mysql</a></li>
                    <li><a href="#">postgresql</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">greenplum</a></li>
                    <li><a href="#">tidb</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">others</a></li>
                </ul>
                </li>

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 安全
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">逆向工程</a></li>
                    <li><a href="#">web安全</a></li>
                    <li><a href="#">系统安全</a></li>
                    <li><a href="#">病毒</a></li>
                    <li><a href="#">蠕虫</a></li>
                </ul>
                </li>

                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">通用查询 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                         <li><a href="#">ip 查询</a></li>
                            <li><a href="#">天气查询</a></li>
                        <li><a href="#">公交实时</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">DNS查询</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">MORE</a></li>
                        </ul>
                </li>
            </ul>

            <ul  class="nav navbar-nav navbar-right">
                    <li><a href="#">3D 特效 </a></li>
            </ul>


            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
</br>
</br>
</br>
</br>
</br>
</br>